*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1_container{
    background-color: #303030;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.h1_container h1{
    padding-top: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3rem;
    letter-spacing: .1em;
    text-shadow: 0 0 5px white;
    display: flex;
}
.h1_container h1 div{
    /* display: inline-block; */
    min-width: max-content;
}
.hop_up {
    animation: hop_up .5s ease-in-out 0s 1;

}
@keyframes hop_up {
    0%{
        color: white;
        text-shadow: 0 0 5px white;
        margin-top: 0em;
    }
    50%{
        color: #1fb8ff;
        text-shadow: 0 0 5px #1fb8ff;
        margin-top: -.5em;
    }
    100%{
        text-shadow: 0 0 5px white;
        color: white;
        margin-top: 0em;
    }
}